@import url('https://fonts.googleapis.com/css?family=Lato|Vollkorn&display=swap');
/*
font-family: 'Lato', ;
font-family: 'Vollkorn', ;
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif,;
    
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "hero hero hero"
    "populars populars populars"
    "recents tba tba"
    "footer footer footer";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5vh;
    margin: 1vh;
}

nav{
    justify-self: end;
    align-self: center;
}

nav ul li{
    margin: 2vh;
    list-style: none;
    text-align: center;
    text-decoration: none;
    font-size: 2.1vh;
    display: inline-block;
}

nav a {
    color: black;
    text-decoration: none;
}

.hero {
    grid-area: hero;
    display: grid;
    grid-template-columns: 7vh 1fr 7vh;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    background-image: url(https://picsum.photos/1920/1080);
    height: 50vh;
}

.text {
    grid-column: 2/3;
    grid-row: 2/4;
}

.text h2 {
    font-size: 10vh;
    text-transform: uppercase;
    text-align: center;
    color: snow;
}

.text p{
    text-transform: uppercase;
    text-align: center;
    color: snow;
}
.button {
    grid-column: 2/3;
    grid-row: 4/4;
    text-align: center;
}

.button button {
    /*modify the button*/
}

.populars {
    grid-area: populars;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.otsikko {
    grid-row: 1/1;
    grid-column: 1/3;
}

.slider {
    grid-row: 1/2;
    grid-column-start: 2/3;
    grid-column-end: 3/3;
}
.flags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2vh;
}

.countrynames {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 2vh 0 2vh;
}

#flag1, #flag2, #flag3 {
    max-height: 12vh;
    max-width: 18vh;
}

.recents {
    grid-area: recents;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}


.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4vh 4vh;
}

.user-info img {
    grid-column: 1/2;
}

.name {
    grid-column: 2/2;
    grid-row: 1/2;
}

.date {
    grid-column: 2/2;
    grid-row: 2/2;
}

.user-info > p {
    grid-column: 2/2;
}

.country {
    margin-top: 0.5vh;
}

.comment {
    margin: 1vh 0 1vh 0;
}

.more {
    text-align: center;
}

.votes button{
    margin-right: 2vh;
    padding: 0.3vh;
}

.TBA {
    grid-area: TBA;
}

footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 7vh 1fr 7vh;
    grid-template-rows: auto; 
    background-color: #1c1e21;
    color:white;
    padding-top: 70px;
    margin-top: 20px;
}
.container{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
    ". top ."
    "bot . .";
    width: 100%;
    padding-bottom: 55px;
    border-bottom: 1px solid #555;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .top{
    align-self: space-evenly;
    justify-self: space-evenly;
      grid-area: top;
      text-align: center;

  }
  .bot{
    align-self: space-evenly;
    justify-self: space-evenly;
      grid-area: bot;
      text-align: center;
  }
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    float: left;
    width: 30%
    margin-right: 5%;
}

ul li.right {
    margin-right: 0;
    grid-template-columns: 40vh;
    grid-template-rows: repeat(6, auto);
    margin: 1vh;
}