* {
    padding: 0;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

nav ul li{
    list-style: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

nav a {
    color: black;
    text-decoration: none;
}