@import url('https://fonts.googleapis.com/css?family=Lato|Vollkorn&display=swap');
/*
font-family: 'Lato', ;
font-family: 'Vollkorn', ;
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "hero hero hero"
    "populars populars populars"
    "recents tba tba"
    "footer footer footer";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border-bottom: 1.5px solid black;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5vh;
    margin: 1vh;
}

nav{
    justify-self: end;
    align-self: center;
}

nav ul li{
    margin: 2vh;
    list-style: none;
    text-align: center;
    text-decoration: none;
    font-size: 2.1vh;
    display: inline-block;
}

nav a {
    color: black;
    text-decoration: none;
}

.hero {
    grid-area: hero;
    display: grid;
    background-repeat: no-repeat;
    grid-template-columns: 7vh 1fr 7vh;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    background-image: url(https://picsum.photos/1920/1080);
    height: 50vh;
}

.herotext {
    grid-column: 2/3;
    grid-row: 2/4;
}

.herotext h2 {
    font-size: 10vh;
    text-transform: uppercase;
    text-align: center;
    color: snow;
}

.herotext p{
    text-transform: uppercase;
    text-align: center;
    color: snow;
}
.button {
    grid-column: 2/3;
    grid-row: 4/4;
    text-align: center;
}

.button button {
    /*modify the button*/
}

.populars {
    grid-area: populars;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.otsikko {
    grid-row: 1/1;
    grid-column: 1/3;
}

.slider {
    grid-row: 1/2;
    grid-column-start: 2/3;
    grid-column-end: 3/3;
}
.flags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2vh;
}

.countrynames {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 2vh 0 2vh;
}

#flag1, #flag2, #flag3 {
    max-height: 14vh;
    max-width: 14vh;
}
.mySlides {
    display: none;
 }
 /* show first slide by default */
 .mySlides:first-child {
    display: block;
 }
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
    max-height: 12vh;
    max-width: 18vh;
}
#countryName1, #countryName2, #countryName3 {
    margin-left: 1.4vh;
} 
.recents {
    grid-area: recents;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}


.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4vh 4vh;
}

.user-info img {
    grid-column: 1/2;
}

.name {
    grid-column: 2/2;
    grid-row: 1/2;
}

.date {
    grid-column: 2/2;
    grid-row: 2/2;
}

.user-info > p {
    grid-column: 2/2;
}

.country {
    margin-top: 0.5vh;
}

.comment {
    margin: 1vh 0 1vh 0;
}

.more {
    text-align: center;
}

.votes button{
    margin-right: 2vh;
    padding: 0.3vh;
}

.TBA {
    grid-area: TBA;
}

footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 7vh 1fr 7vh;
    grid-template-rows: auto; 
    background-color: #1c1e21;
    color:white;
}
.container{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
    ". top ."
    "bot . .";
}

.top{
    grid-area: top;
    text-align: center;
}
.bot{
    grid-area: bot;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 1vh;
}
