<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    
</head>
<body>

    <header>
        <div class="logo">
            <a href="index.html"><IMG SRC="img/logoweb.png" ALT="some text" WIDTH=125></a>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="search.html">Search</a></li>
                <li onclick="loginpop()">Login</li>
            </ul>
        </nav>
    </header>
    <!--Modal section-->
    <div class="bg-modal"id="loginpage">
        <div class="modal-content">
            <div onclick="closelogin()" class="close">+</div>
            <img src="img/logoweb.png" class="inputlog" alt="">
            <title name="title"></title>
            <form action="/user/login" method="POST">
                <input class="inputlog" type="email" name="email" placeholder="Email" required>
                <input class="inputlog" type="password" name="password" id="password" placeholder="Password" required>
                <button>Login</button>
            </form>
        </div>
    </div>
    <main class="hero">
        <div class="herotext">
            <h2>Otsikko</h2>
            <p>Lorem, ipsum dolor.</p>
        </div>
        <div class="button">
            <button>Here</button>
        </div>
    </main>
    <section class="populars"> 
        <div class="otsikko">
            <h2>Most popular: </h2>
        </div>
        <div class="slider">
            <div class="flags">
                <img id="flag1">
                <img id="flag2">
                <img id="flag3">
                <img id="flag4">
                <img id="flag5">
                <img id="flag6">
            </div>
        </div>
            <div class="countryNames">
                <p id="name1"></p>
                <p id="name2"></p>
                <p id="name3"></p>
            </div>
        <i id="prevBtn"></i>
        <i id="nextBtn"></i>
    </section>
    <aside class="recents">
        <div class="heading">
            <h2>Recent reviews: </h2>
        </div>
        <div class="user-info">
            <img src="https://picsum.photos/100" alt="">
            <p class="name">Lorem Ipsum</p>
            <p class="date">March 1st, 2020</p>
        </div>
        <div class="country">
            <p class="Test">Country, City</p>
        </div>
        <div class="comment">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, itaque!</p>
        </div>
        <div class="votes">
            <button>+</button>
            <button>-</button>
        </div>
        <div class="more">
            <p>See more..</p>
        </div>
    </aside>
    
    <section class="TBA">
        <div class="tba">
            <p>tba</p>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="top">
                <ul class="footer-ul">
                    <li>Legal</li>
                    <li>Terms Of Service</li>
                    <li class="footer-p"><a href="about.html">About</a></li>
                </ul>
            </div>
            <div class="bot">
                <ul class="footer-ul">
                    <li class="copyright">Copyright©</li>
                    <div class="nimet">
                        <li><a href="about.html#henkilot">Vertti Huovila</a></li>
                        <li><a href="about.html#henkilot">Nico Järvinen</a></li>
                        <li><a href="about.html#henkilot">Tatu Nordström</a></li>
                </div>
                </ul>

            </div>
            <div class="footer-logo"><IMG SRC="img/logowebvalkonen.png" ALT="some text" WIDTH=75></div>
        </div>
        <script src="javascript.js"></script>
    
</body>
</html>