<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/messages.ejs'); -%> 
    <form action="/users/login" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <button>Login</button>
        <a href="/users/login">LOGIN</a>
        <a href="/users/register">REGISTER</a>
    </form>
</body>
</html>