@import url('https://fonts.googleapis.com/css?family=Lato|Vollkorn&display=swap');
/*
font-family: 'Lato', ;
font-family: 'Vollkorn', ;
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 100%));
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "hero hero hero"
    "populars populars populars"
    "recents tba tba"
    "footer footer footer";
}
a{
    text-decoration: none; 
    decoration: none; 
    color: white;
}
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color:white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.inputlog {
    width: 50%;
    display: block;
    margin: 15px auto;
}
.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border-bottom: 1.5px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 500;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5vh;
    margin: 1vh;
}

nav{
    justify-self: end;
    align-self: center;
}

nav ul li{
    margin: 2vh;
    list-style: none;
    text-align: center;
    text-decoration: none;
    font-size: 2.1vh;
    display: inline-block;
}

nav a {
    color: black;
    text-decoration: none;
}
.logout{
    color: grey;
}

.hero {
    grid-area: hero;
    display: grid;
    background-repeat: no-repeat;
    grid-template-columns: 7vh 1fr 7vh;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    background-image: url(img/hero2.jpg);
    background-size: cover;
    border-bottom: 1.5px solid black;
    height: 60vh;
}
.hero2 {
    grid-area: hero;
    display: grid;
    background-repeat: no-repeat;
    grid-template-columns: 7vh 1fr 7vh;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    background-image: url(img/hero1.jpg);
    background-size: cover;
    border-bottom: 1.5px solid black;
    height: 60vh;
}
.hero3 {
    grid-area: hero;
    display: grid;
    background-repeat: no-repeat;
    grid-template-columns: 7vh 1fr 7vh;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    background-image: url(img/hero2.jpg);
    background-size: cover;
    border-bottom: 1.5px solid black;
    height: 60vh;
}

.herotext {
    grid-column: 2/3;
    grid-row: 2/4;
}

.herotext h2 {
    font-size: 10vh;
    text-transform: uppercase;
    text-align: center;
    color: snow;
    margin-bottom: ;
}

.herotext p{
    text-transform: uppercase;
    text-align: center;
    color: snow;
}
.button {
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
}

.button button {
    padding: 2vh;
    border: none;
    background-color: lightgray;
    color:white;
}

.populars {
    grid-area: populars;
    /**
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 5vh auto;
    */
}

.otsikko {/**
    grid-row: 1/2;
    grid-column: 1/3;
    display: block;
    max-width: 100%;
    height: auto;
    */
}

.slider {
    border: 3px solid black;
    margin: auto;
    overflow: hidden;
    /** 
    grid-row: 2/3;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fild, minmax(6vh, 1fr));
    margin: 1vh;
    */
}

.flags {
    display: flex;
    
    width: 40%;
    height: auto;
    
    
    /**display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6vh, 1fr));
    grid-template-rows: 1fr;*/
}

.countryNames {
    /**
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column: 1/4;
    grid-row: 3/4;
    */
}

#countryName1, #countryName2, #countryName3 {
    margin-left: 1.4vh;
} 

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
#nextBtn {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 80%;
    z-index: 10;
    right: 1%;
    font-size: 30px;
    cursor: pointer;
}
#prevBtn {
    transform: rotate(135deg);
   -webkit-transform: rotate(135deg);
    position: absolute;
    top: 80%;
    z-index: 10;
    left: 1%;
    font-size: 30px;
    cursor: pointer;
}
#flag1 {
    /**
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 80%;
    height: auto;
    */
    max-width: 85%;
}


#flag2 {
    /**
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 100%;
    height: auto;
    **/
    max-width: 85%;
}

#flag3 {
    /**
    grid-column: 3/4;
    grid-row: 1/2;
    max-width: 85%;
    height: auto;
    */
    max-width: 85%;
}
#flag4 {
    /**
    grid-column: 4/5;
    grid-row: 1/2;
    max-width: 85%;
    height: auto;
    */ 
    max-width: 85%;
}
#flag5 {
    /**
    grid-column: 5/6;
    grid-row: 1/2;
    max-width: 85%;
    height: auto;
    */
    max-width: 85%;
}
#flag6 {
    /**
    grid-column: 5/6;
    grid-row: 1/2;
    max-width: 85%;
    height: auto;
    **/
    max-width: 85%;
} 
/**
#name1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

#name2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#name3 {
    grid-column: 3/4;
    grid-row: 2/3;
}
*/
.recents {
    grid-area: recents;
    display: grid;
    grid-template-columns: 0.5fr 0.5;
    grid-template-rows: repeat(auto-fit, minmax(8vh, 1fr));
    margin: 1vh;
}

.heading {
    grid-column: 1/2;
    grid-row: 1/2;
    display: block;
    max-width: 100%;
    height: auto;
}

.user-info {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 0.2fr 0.5fr;
    grid-template-rows: repeat(auto-fit, minmax(6vh, 1fr));
}

.user-info img {
    grid-column: 1/2;
    grid-row: 1/3;
    max-width: 100%;
    height: auto;
}

.user-info .name {
    grid-column: 2/3;
    grid-row: 1/2;
}

.user-info .date {
    grid-column: 2/3;
    grid-row: 2/3;
}

.country {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 0.5vh;
}

.comment {
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 1vh 0 1vh 0;
}

.votes button{
    grid-column: 1/2;
    grid-row: 5/6;
    margin-right: 2vh;
    padding: 0.5vh;
}

.more {
    grid-column: 1/2;
    grid-row: 6/7;
}

.TBA {
    grid-area: tba;
    display: grid;
    background-color: khaki;
}
.tba p{
    font-size: 25vh;
    width: 100%;
    height: auto;
    text-align: center;
}
footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 7vh 1fr 7vh;
    grid-template-rows: auto; 
    background-color: #1c1e21;
    color:white;
}
.container{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
    "top top top"
    "bot bot footer-logo";
}

.top{
    grid-area: top;
    text-align: center;
}
.top li{
    display: inline-block;
    font-size: 4vh;
    margin: 2vh 15vh 4vh 15vh;
    
}
.bot{
    grid-area: bot;
    text-align: center;
    margin-bottom: 2vh;
    
}
.copyright{
    float: left;
}
.footer-logo{
    grid-area: footer-logo;
    text-align: right;
}

.bot ul li {
    display: inline-block;
    margin: 2vh 4vh 0vh 1vh;
    font-size: 2vh;
}
.nimet{
    text-align: right;
    margin:0vh 6vh 0vh 0vh;
}
/* about.html */
.aboutBody {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 100%));
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "hero hero hero"
    "infoheader infoheader infoheader"
    "infop infop infop"
    "creators creators creators"
    "footer footer footer";
}
.infoheader{
    grid-area: infoheader;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: vh auto;
    font-size: 2vh;
    margin: 5vh 15vh 0vh 15vh;
}
.aboutHeading{
    text-align: center;
    grid-column: 2/3;
}
.infop {
    grid-area: infop;
    display: grid;
    text-align: left;
    font-size: 3vh;
    margin: 0vh 15vh 5vh 15vh;
    padding: 5px;
    letter-spacing: 1px;
    
}
.creators{
    grid-area: creators;
    display: grid;
    margin: 0;
    display: flex;
    align-items: center;
    
    min-height: 100vh;
    background: #212121;
    font-family: sans-serif;
  }
  .box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  }
  .card{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
    
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 20% 80%;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   } 

/** Search Html */
.searchbody {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 100%));
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "hero hero hero" 
    "search-container search-container search-container"
    "footer footer footer";
}
#search-container {
    grid-area: search-container;
    display: grid;
    margin: 0;
    display: flex;
    min-height: 100vh;
    background: white;
    font-family: sans-serif;
}
#search {
    font-size: 30px;
    border: 1px solid black;
}
#submit {
    font-size: 30px;
}

.tdSearch {
    width:305px;
    border: solid black 1px;
    padding: 0;
    margin: 0;
    text-align: center;
}
#datatable img {
    max-width: 100%;
}
.formi{
    display:block;
    margin: 10vh;
}
.footer-user{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 10 ;
}